#main-title{
    width: 960px;
    height: 100px;
    margin: 0px auto;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px black solid;
}

#main-title h1{
    line-height: 75px;
    margin: 0px;
}

#main-title h3{
    line-height: 25px;
    margin: 0px;
    margin-bottom: 5px;
}

#main-content{

    width: 960px;
    height: 600px;
    border: 1px black solid;
    text-align: center;
    margin: 0px auto;
    padding: 5px;
    position: relative;
}

#metro-content{
    position: absolute;
    top: 20px;
    left: 20px;
}

#map-content{
    width: 280px;
    height: 280px;
    float: right;
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px black solid;
}
footer{
    width: 972px;
    height: 80px;
    margin: 10px auto;
    border: 1px black solid;
    border: 1px;
}
#team-intro{
    text-align: center;
    height: 80px;
    padding: 5px;
    border: 1px black solid;
    padding-top: 10px;
}